<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FinalProgram.My.MySettings.bin_SUPrConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\bin_SUPr.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="FinalProgram.My.MySettings.bin_SUPrAConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=S:\mbhs\Repucci_Final\FinalProgram\bin_SUPrA.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="FinalProgram.My.MySettings.bin_SUPrAConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=H:\MichaelRNunley\bin_SUPrA.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="FinalProgram.My.MySettings.server_Hints_ConnectionString"
            connectionString="Data Source=10.254.255.243;Initial Catalog=MRN_2016_Hints;Integrated Security=False;Persist Security Info=True;User ID=SA;Password=SA_Pirates;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="FinalProgram.My.MySettings._2016_MRN_HintsConnectionString"
            connectionString="Data Source=10.254.255.243;Initial Catalog=2016_MRN_Hints;Integrated Security=False;Persist Security Info=True;User ID=SA;Password=SA_Pirates;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
</configuration>